doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 404 not found
        link(rel="stylesheet", href="../static/style.css")
        script(async='async' data-cfasync='false' src='//pl20920428.highcpmrevenuegate.com/de286ecac53d2b00f599c41028f56056/invoke.js')
    body
        nav.navbar
          ul#ul-1
            li
              img.logo(src='../static/logo.png' alt='err loading logo')
            li
              form(action='/' onsubmit="contact()" method='post')
                h1 Filmfy.orender.com
          ul#ul-2
            li
              a(href='/')
                ion-icon(name='home')
                | Home
            li
             a(href='/updates')
                | Updates
            li
              a(href='https://sites.google.com/view/fillmfy/home') our template
            li
              a(href='/contact') Contact
        hr(style='margin: 15px;')
        #container-de286ecac53d2b00f599c41028f56056

        h1#error 404 page not found

        footer
          strong Filmfy Copyright &copy; 2023
          span owner vaibhav verma

script(type='text/javascript' src='//pl20920623.highcpmrevenuegate.com/cc/64/e8/cc64e8fe6c6f50c135a29c955584efda.js')
script(type='module' src='https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js')
script(nomodule='' src='https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js')      
