doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Rating, Review and Trailer | Filmfy.co
        //- link css
        link(rel="stylesheet", href="../static/style.css")
        link(rel="stylesheet", href="../static/movies.css")
        script(async='async' data-cfasync='false' src='//pl20920428.highcpmrevenuegate.com/de286ecac53d2b00f599c41028f56056/invoke.js')
    body
        nav.navbar
          ul#ul-1
            li
              img.logo(src='../static/logo.png' alt='err loading logo')
            li
                h1 Filmfy.com
          ul#ul-2
            li
              a(href='/')
                ion-icon(name='home')
                | Home
            a(href='/usage')
                | We Use
            li
              a(href='/hrm') High Rating movies
            li
              a(href='/contact') Contact
        hr(style='margin: 20px;')

        //- jawan
        h1 Jailer
        hr(style='margin: 20px;')
        #container-de286ecac53d2b00f599c41028f56056

        section.video
          video(controls='' controlslist='nodownload' autoplay='' muted='' loop)
            source(type='video/mp4' src='../static/trailers/jailer.mp4')

        section.details
          #type
            span Acton
            span Comedy
            span Crime
          #discription
            span A retired jailer goes on a manhunt to find his son's killers. But the road leads him to a familiar, albeit a bit darker place. Can he emerge from this complex situation successfully?

          #ratings
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star-half"></ion-icon>
            span 7.2

          #direct
            .qn
              span.ques Director
              span.names Nelson Dilipkumar
              hr
            .qn
              span.ques Writers
              span.names Nelson Dilipkumar
              hr
            .qn
              span.ques Stars
              span.names Rajnikanth . Mohanlal . Shivarajkumar
          #photos
            h1 Photos 
              ion-icon(name="chevron-forward")
            img(src="../static/photos/jailer_photo1.jpeg", alt="err loading image")
            img(src="../static/photos/jailer_photo2.webp", alt="err loading image")
            img(src="../static/photos/jailer_photo3.jpeg", alt="err loading image")

        footer
          strong Filmfy Copyright &copy; 2023
          span owner vaibhav verma

    script(type='text/javascript' src='//pl20920623.highcpmrevenuegate.com/cc/64/e8/cc64e8fe6c6f50c135a29c955584efda.js')
    script(src="../static/script.js")
    script(type='module' src='https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js')
    script(nomodule='' src='https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js')
