doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Rating, Review and Trailer | Filmfy.co
        //- link css
        link(rel="stylesheet", href="../static/style.css")
        link(rel="stylesheet", href="../static/movies.css")
    body
        nav.navbar
          ul#ul-1
            li
              img.logo(src='../static/logo.png' alt='err loading logo')
            li
                h1 Filmfy.com
          ul#ul-2
            li
              a(href='/')
                ion-icon(name='home')
                | Home
            li
              a(href='/usage')
                | We Use
            li
              a(href='/hrm') High Rating movies
            li
              a(href='/contact') Contact
        hr(style='margin: 20px;')

        //- jawan
        h1 Selfiee
        hr(style='margin: 20px;')

        section.video
          video(controls='' controlslist='nodownload' autoplay='' muted='' loop)
            source(type='video/mp4' src='../static/trailers/selfie.mp4')

        section.details
          #type
            span Action
            span Comedy
            span Drama
          #discription
            span Bollywood superstar Vijay Kumar needs to obtain a new driving license from RTO officer Om Prakash Agarwal, a diehard fan of Vijay. A misunderstanding escalates into a feud which is played out in front of the entire country.

          #ratings
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star-half"></ion-icon>
            span 5.7

          #direct
            .qn
              span.ques Director
              span.names Raj Mehta
              hr
            .qn
              span.ques Writers
              span.names Sachy . Rishabh Sharma
              hr
            .qn
              span.ques Stars
              span.names Akshay Kumar . Mrunal Thakur . Emraan Hashmi
          #photos
            h1 Photos 
              ion-icon(name="chevron-forward")
            img(src="../static/photos/selfie_photo_1.jpg", alt="err loading image")
            img(src="../static/photos/selfie_photo_2.jpg", alt="err loading image")
            img(src="../static/photos/selfie_photo_3.jpg", alt="err loading image")

        footer
          strong Filmfy Copyright &copy; 2023
          span owner vaibhav verma

    script(src="../static/script.js")
    script(type='module' src='https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js')
    script(nomodule='' src='https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js')