doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Rating, Review and Trailer | Filmfy.co
    body
        h1 your message should successful send to owner vaibhav vermna.
        span Please go to home page 
        a(href="/") Home