doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Rating, Review and Trailer | Filmfy.co
        //- link css
        link(rel="stylesheet", href="../static/style.css")
        link(rel="stylesheet", href="../static/usage.css")
    body
        nav.navbar
          ul#ul-1
            li
              img.logo(src='../static/logo.png' alt='err loading logo')
            li
                h1 Filmfy.com
          ul#ul-2
            li
              a(href='/')
                ion-icon(name='home')
                | Home
            li
              a(href='/usage')
                | We Use
            li
              a(href='/hrm') High Rating movies
            li
              a(href='/contact') Contact
        hr(style='margin: 20px;')

        span
            | We use Ionicons for Icons