#ul-2 li:nth-child(2) a {
    background-color: #ff0000;
}

span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100%;
    color: #fff;
    font-weight: bolder;
    font-size: 2rem;
}